[*]
charset=utf-8
end_of_line=lf
insert_final_newline=true
indent_style=space
indent_size=2
continuation_indent_size=4

[{*.mod,*.ent,*.dtd,*.elt}]
indent_style=space
indent_size=2

[{*.jhm,*.xjb,*.rng,*.wsdl,*.fxml,*.plan,*.pom,*.xslt,*.jrxml,*.ant,*.xul,*.xsl,*.xsd,*.tld,*.jnlp,*.wsdd,*.wadl,*.xml}]
indent_style=space
indent_size=2

[{.babelrc,.stylelintrc,jest.config,.eslintrc,*.bowerrc,*.jsb3,*.jsb2,*.json}]
indent_style=space
indent_size=2

[*.svg]
indent_style=space
indent_size=2

[*.java]
indent_style=space
indent_size=2

[*.feature]
indent_style=space
indent_size=2

[{*.ddl,*.sql}]
indent_style=space
indent_size=2

[{*.fxg,*.mxml}]
indent_style=space
indent_size=2

[*.launch]
indent_style=space
indent_size=2

[{*.yml,*.yaml}]
indent_style=space
indent_size=2

[*.properties]
indent_style=space
indent_size=2
trim_trailing_whitespace=false
